/* .app__hero {
    width: 100%;
    align-items: center;
    height: 85vh;
    display: flex;
    justify-content: center;

}

.hero__container {
    width: 50%;
    height: 80%;
    display: block;
    padding: 2rem;
    justify-content: center;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero__header {
    margin-top: 2rem;
    background: white;
    text-decoration: none;
}

.hero__header p, h1 {
    background-color: white;
}

.hero__footer {
    padding-top: 20%;
    background: white;
}

.footer__links {
    font-size: 32px;
    display: flex;
    gap: 2rem;
    background: white;
    margin-bottom: 10px;
}
.footer__icon {
    background: white;
}


.footer_calltoaction p {
    padding-top: 20px;
    background:white;
}

/* MOBILE View -- IPHONE XR */
/*
@media screen and (min-width: 992px) {
    .hero__container {
        width: 50%;
    }

    .app__hero {
        align-items: center;
    }
    
    .hero__footer {
        padding-top: 35%;
    }
}

@media screen and (max-width: 600px) {
    .hero__container {
        width: 85%;
    }

    .hero__footer {
        padding-top: 80%;
    }
}
*/
