.app__navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.app__navbar-logo img{
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-links {
    display: flex;
    padding-left: 1rem;
    gap: 2rem;
}

.app__navbar-line {

}

li, ul, a {
    list-style: none;
    text-decoration: none;
    
}

.p__opensans {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: var(--color-white);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .app__navbar {
        display: flex;
        align-items: center;
    }
    .app__navbar-logo img {
        height: 100px;
    }
    .app__navbar-links {
        padding-top: 1rem;
    }
    
}