* {
    background-color: #ebf2fa;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__padding {
    padding: 4rem 6rem;
}

.app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
